table.diamondsweeper-board {
  td {
    padding: 0;
    border: 1px solid black;
  }
}

.cell {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  transition: 0.5s;

  &.diamond {
    background-image: url(diamond.png);
    background-color: hsl(59, 100%, 62%);
  }

  &.arrow {
    background-image: url(arrow.png);
  }

  &.unknown {
    background-image: url(question.png);
    background-color: antiquewhite;
  }
}


@media screen and (max-width: 48em) {
  .cell {
    height: 35px;
    width: 35px;
    background-size: contain;
    background-repeat: no-repeat;
  }

}
