 <html>
  <head>
    <title>Game App</title>
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, height=device-height, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
    <script type="text/javascript" src="/assets/app.js"></script>
  </head>
  <body>
    <div id="container">
      <div>
        <div class="messages"></div>
        <table class="diamondsweeper-board">

        </table>
        <h3>Rules:</h3>
        <ul>
          <li>
            <img src="diamond.png">
            <p>There are total 8 diamonds which needs to be found</p>
          </li>
          <li>
            <img src="no-diamond.png">
            <p>There is no diamond available in the row and column.</p>
          </li>
          <li>
            <img src="arrow.png">
            <p>All arrows point nearest diamond position.</p>
          </li>
        </ul>
      </div>
    </div>
    <script type="text/javascript">startApp(document.getElementById("container"));</script>
  </body>
</html>
